# Criado por https://www.gitignore.io/api/python
# Editar em https://www.gitignore.io/?templates=python

### Python ###
# Byte-compilado / otimizado / arquivos DLL
__pycache __ /
* .py [cod]
* $ py.class

Extensões # C
*.assim

# Distribuição / embalagem
.Python
construir/
desenvolver ovos /
dist /
Transferências/
ovos/
.ovos/
lib /
lib64 /
partes /
sdist /
var /
rodas /
metadados de roda de pip /
share / python-wheels /
* .egg-info /
.installed.cfg
*.ovo
MANIFESTO

# PyInstaller
# Normalmente, esses arquivos são escritos por um script python de um modelo
# antes que o PyInstaller construa o exe, para injetar data / outras informações nele.
*.manifesto
* .spec

# Logs do instalador
pip-log.txt
pip-delete-this-directory.txt

# Teste de unidade / relatórios de cobertura
htmlcov /
.tox /
.nox /
.cobertura
.cobertura.*
.cache
nosetests.xml
coverage.xml
*.tampa
.hipótese/
.pytest_cache /

# Traduções
* .mo
*.maconha

# Coisas do Django:
*.registro
local_settings.py
db.sqlite3

# Material de balão:
instância/
.webassets-cache

# Coisas escamosas:
.scrapy

# Documentação Sphinx
docs / _build /

# PyBuilder
alvo/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default /
ipython_config.py

# pyenv
.python-version

# pipenv
# De acordo com o pypa / pipenv # 598, recomenda-se incluir o Pipfile.lock no controle de versão.
# No entanto, em caso de colaboração, se houver dependências ou dependências específicas da plataforma
# não tendo suporte multi-plataforma, o pipenv pode instalar dependências que não funcionam ou não
# instala todas as dependências necessárias.
# Pipfile.lock

# arquivo de agendamento de batida de aipo
celerybeat-schedule

# SageMath analisou arquivos
* .sage.py

# Ambientes
.env
.venv
env /
venv /
ENV /
env.bak /
venv.bak /
.idea/

# Configurações do projeto Spyder
.spyderproject
.spyproject

Configurações do projeto # Rope
.ropeproject

# documentação do mkdocs
/local

# mypy
.mypy_cache /
.dmypy.json
dmypy.json

# Verificador de tipo de pira
.pyre /

# Fim de https://www.gitignore.io/api/python